*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.bar{
    display: flex;
    margin-top: 2rem;
    
    
    
}
.bar-a{
    color: black;
    margin-left: 0.9rem;
}
.bar-a:hover{
    color: blue;
}
.bar-a-p{
   margin-top: 0.5rem;
   
}

.bar-el{
    display: flex;
    margin-bottom: 2rem;
    
    
}
.bar-li{
    margin-left: 2rem;
    font-size: 1.15rem;
    font-weight: 600;
    
}
.bar-btn{
    justify-content: center;
    background-color: #2e844a;
    color: white;
    padding: 0.7rem 2rem;
    border-radius:7px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    min-width: 9.5rem;
}
.bar-btn:hover{
    background-color: #1c3326;
    cursor:pointer
}
.hd-ft{
    background-color:#032d60;
    color: white;
    display: flex;
    justify-content: center;
    padding: 0.6rem;
}
.hd-ft-a{
    color: white;
}
.hd-ft-a:hover{
    text-decoration: none;
}
.hd-ft-c{
    margin-left: 2rem;
    font-size: 1.15rem;
}

.logo{
    width: 4.3rem;
    margin-top: 1rem;
    
}
.logo-2{
    width: 0.7rem;
    margin-bottom: 0.4rem; 
    
}
li:nth-child(7) {
    min-width: 6.3rem;
    margin-left: 30%;

  }

.mg{
    width: 1.5rem;
    margin-top: 0.6rem;
}

@media only screen and (max-width:1477px) {
    li:nth-child(7) {
        min-width: 6.3rem;
        margin-left: 20%;
    
      }
}
@media only screen and (max-width:1377px) {
    li:nth-child(7) {
        min-width: 6.3rem;
        margin-left: 10%;
    
      }
}

@media only screen and (max-width: 1280px){
    
    .bar-li{
        display: none;
      }
      #bar-li-2{
        display: flex;
      }
      .bar-li-2{
        display: flex;
      }
      .bar-a {
        display: none;
      }
      .bar-a-p {
        display: none;
      }
      .bar{
        margin-left: 50%;
      }
}

@media only screen and (max-width: 1122px){
    .bar{
        margin-left: 40%;
      }
}
@media only screen and (max-width: 940px){
    .bar{
        margin-left: 30%;
      }
}
@media only screen and (max-width: 801px){
    .bar{
        margin-left: 20%;
      }
}
@media only screen and (max-width: 701px){
    .bar{
        margin-left: 10%;
      }
}


@media only screen and (max-width: 621px){
    li:nth-child(7) {
        margin-left: 0rem;
      }
      .bar{
        margin-left: 0;
      }
      
      
      .hd-ft{
        display: grid;
        margin-left: 0;
        justify-content: left;
      }

      .hd-ft-c{
        margin-left: 0;
      }
      .hd-ft-a{
        margin-left: 0;
      }
}

@media only screen and (max-width: 520px){
    .bar-li{
        margin-left: 0;
    }
    .bar{
        margin-left: 15%;
    }
}
@media only screen and (max-width: 520px){
    .bar-li{
        margin-left: 0;
    }
    .bar{
        margin-left: 0%;
    }
}


